/* Estilos para la barra de navegación */
/* Definir los colores para los temas oscuro y claro */
:root {
    --primary-color: #64b5f6;
    --background-color-dark: #121212;
    --background-color-light: #f0f0f0;
    --text-color-dark: #ffffff;
    --text-color-light: #000000;
    --transition-duration: 0.5s;
    --historial-bg-dark: #1c1c1c;
    --historial-bg-light: #e0e0e0;
}


.nav {
    width: 100%;
    background-color: var(--background-color-dark);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}

/* Logo o Título de la App en la Nav */
.nav h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0;
}

/* Estilo para los enlaces de navegación */
.nav-links {
    display: flex;
    gap: 20px; /* Espaciado entre los enlaces */
}

.nav-links a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: bold;
    transition: color var(--transition-duration);
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Estilo para el botón de cambio de tema en la nav */
.theme-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color-light);
    transition: color var(--transition-duration);
}

.theme-btn:hover {
    color: var(--primary-color);
}
